.borderless {
  border-collapse: collapse;
  border-spacing: 0;
}
.services {
  border: 1px solid #d3d3d3;
  background: #fff;
  width: 96%;
  margin: 5% auto 2em;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  text-shadow: #fff 1px 1px 1px;
}
thead {
  font-size: 150%;
}
th,
td {
  padding: 18px, 28px 18px;
  text-align: left;
}
th {
  padding-top: 22px;
  background: #ddd;
}
td {
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
tr:target {
  background-color: #61d7a4;
}
tr:hover {
  background-color: #ff9b73;
}
tr {
  /* När man hovrar över tar det 2s innan färgen fylls ut*/
  transition: background-color 2s;
}
tr:nth-child(odd) {
  background-color: #fff;
}
tr:nth-child(even) {
  background-color: #ddd;
}

/* Första och andra kolumnen */
td:nth-child(1) {
  width: 50px;
  text-align: left;
}
td:nth-child(2) {
  width: 50px;
  text-align: right;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}

